width=1000
height=800

#INFORMATION

label=info1

[message]
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style='text-align: center;'><font size='7'>Welcome to the study:<br>
<i>Understanding Negotiation Strategies</i></font>
[/message]

button=Start


#INFORMATION

[message]
<br>
<br>
<br>
<br>
<br>
<br>
<div style='text-align: center;'><font size='6'>
In this study, you will be paired with another<br>
participant to complete a negotiation task.<br>
<br>
The purpose of this task is to help us gain a<br>
better understanding of the strategies that<br>
people use in computer-mediated negotiation.<br>
</font><br>
<br>
<font size='8'>Please read the instructions that follow<br>
</font><font size='8' color='RED'>VERY CAREFULLY</font>
[/message]

button=Continue


#INFORMATION

label=info2

[message]
<br>
<br>
<br>
<br>
<br>
<br>
<div style='text-align: center;'><font size='6'>
You will be negotiating the terms<br>
of a mobile phone sale.<br>
<br>
In a moment, the computer will<br>
randomly assign an opponent to you.<br>
<br>
The computer will also determine whether you<br>
receive the role of <font size='8'>Buyer</font> or <font size='8'>Seller</font></font>
[/message]

button=Continue


#DELAY

label=delay1

timer=5

[message]
<div style='text-align: center;'><font size='6'>
Please wait while roles are being assigned
[/message]


#INFORMATION

label=info3

[message]
<br>
<br>
<br>
<br>
<br>
<br>
<div style='text-align: center;'><font size='6'>
You have been assigned the role of:</font><br>
<br>
<br>
<font size='8'>
SELLER</font>
[/message]

button=Continue


#INFORMATION

label=info4

[message]
<br>
<br>
<br>
<br>
<br>
<br>
<div style='text-align: center;'><font size='6'>
Your goal is to earn as many points as possible.<br>
<br>
The points you earn in this negotiation <br>
will be converted to raffle tickets.<br>
<br>
The raffle tickets give you a chance to win $100.<br>
<br>
Only participants who reach an agreement with<br>
their opponent will be entered in the raffle.</font>
[/message]

button=Continue


#INFORMATION

label=info5

[message]
<br>
<br>
<br>
<div style='text-align: center;'><font size='5'>
Below you see your payoff chart. Your opponent has<br>
his/her own payoff chart that is different from yours.</font>
[/message]

image=Payoffs.jpg

button=Continue


#INFORMATION

label=info6

[message]
<br>
<br>
<br>
<div style='text-align: center;'><font size='5'>
As you can see on your chart, your objective is to reach<br>
the best deal in terms of Price, Warranty, and Service.</font>
[/message]

image=Payoffs.jpg

button=Continue

#INFORMATION

label=info7

[message]
<br>
<br>
<br>
<div style='text-align: center;'><font size='5'>
In each round of the negotiation, you will enter 3 offer values: <br>
one for Price, one for Warranty, and one for Service.</font>
[/message]

image=Payoffs.jpg

button=Continue


#INFORMATION

label=info8

[message]
<br>
<br>
<br>
<div style='text-align: center;'><font size='5'>
The values you can enter range from 1 to 9.<br>
Each value is associated with points.<br>
<br>
For example, if you enter a '5' for price, you<br>
earn 200 points if the Buyer accepts your offer.</font>
[/message]

image=Payoffs.jpg

button=Continue


#INFORMATION

label=info9

[message]
<br>
<br>
<br>
<div style='text-align: center;'><font size='5'>
Let's look at some more examples. <br>
<br>
As you can see, if you offer '7' for Warranty, you <br>
receive 30 points if the Buyer accepts your offer.</font>
[/message]

image=Payoffs.jpg

button=Continue


#INFORMATION

label=info10

[message]
<br>
<br>
<br>
<div style='text-align: center;'><font size='5'>
If you offer '2' for Price, you receive 350 points<br>
if the Buyer accepts your offer.<br>
<br>
If you offer '3' for Service, you receive 180<br>
points if the Buyer accepts your offer.</font>
[/message]

image=Payoffs.jpg

button=Continue


#INFORMATION

label=info11

[message]
<br>
<br>
<br>
<div style='text-align: center;'><font size='5'>
The payoff chart will remain in the screen during the negotiation.<br></font>
<br>
<font size='5' color='RED'>Please let the Research Assistant know NOW if<br>
you have any questions about the payoff chart.</font>
[/message]

image=Payoffs.jpg

button=Continue


#INFORMATION

label=info12

[message]
<br>
<br>
<br>
<br>
<br>
<br>
<div style='text-align: center;'><font size='5'>
An additional goal of this study is to examine the impact <br>
of having information about an opponent's INTENTIONS.<br>
<br>
At some point during the negotiation, your opponent (the Buyer)<br> 
will be asked to complete a survey about their feelings.<br>
They will also enter the offers that they<br>
are planning to make in the next round.<br>
<br>
You will be asked to read the survey that the Buyer has completed, <br> but the Buyer <u>does not know</u> that you get to read his/her survey.<br>
<br>
As a Seller, you will not be asked to provide<br>
information about your own intentions.</font>
[/message]

button=Continue


#INFORMATION

label=info13

[message]
<br>
<br>
<br>
<br>
<br>
<br>
<div style='text-align: center;'><font size='7'>
PLEASE WAIT</font><br>
<br>
<br>
<font size='6'>
The negotiation will begin once everyone is ready.<br>
<br>
The Research Assistant will tell you when you can continue.
[/message]

button=Continue


#DELAY

label=delay2

timer=8

[message]
<div style='text-align: center;'><font size='5'>
Please wait while the Buyer submits his/her first offer
[/message]


#NEGOTIATION

label=neg1

round=1

title1=<div style='text-align: center;'><font size='6'>Buyer's Offer

title2=<div style='text-align: center;'><font size='6'>Seller's Offer

[labels]
<div style='text-align: center;'><font size='5'>Price
<div style='text-align: center;'><font size='5'>Warranty
<div style='text-align: center;'><font size='5'>Service
[/labels]

[presets]
8
7
8
[/presets]

minimum=1

maximum=9

comparison=>=

[satisfiers]
8
7
8
[/satisfiers]

jumpto=fin

image=Payoffs.jpg

button=Continue


#DELAY

label=delay3

timer=8

[message]
<div style='text-align: center;'><font size='5'>
Please wait while the Buyer submits his/her second offer
[/message]


#NEGOTIATION

label=neg2

round=2

title1=<div style='text-align: center;'><font size='6'>Buyer's Offer

title2=<div style='text-align: center;'><font size='6'>Seller's Offer

[labels]
<div style='text-align: center;'><font size='5'>Price
<div style='text-align: center;'><font size='5'>Warranty
<div style='text-align: center;'><font size='5'>Service
[/labels]

[presets]
8
7
7
[/presets]

minimum=1

maximum=9

comparison=>=

[satisfiers]
8
7
7
[/satisfiers]

jumpto=fin

image=Payoffs.jpg

button=Continue


#DELAY

label=delay4

timer=30

[message]
<div style='text-align: center;'><font size='5'>
Please wait while the Buyer completes a survey about their intentions. <br>
It is important that you read the Buyer’s responses VERY CAREFULLY.
<br>
You will be able to read the Buyer’s responses in a moment<br>
[/message]


#MANIPULATION

label=manip

title=<div style='text-align: center;'><font size='6'>Buyer's Intentions Survey

[qgroup]
[question]
<font size='5'>
Before entering your intended offer below, please describe how you feel right now.
[/question]
[question]
<font size='5'>
Please use the space below for any additional information you would like to provide to the researchers.
[/question]
[/qgroup]

[agroup]
[answer]
ANGRY
[/answer]
[answer]
I feel angry but it has nothing to do with the negotiation
[/answer]
[/agroup]

[agroup]
[answer]
ANGRY
 [/answer]
[answer]
I feel angry but it has nothing to do with the negotiation
[/answer]
[/agroup]

[agroup]
[answer]
ANGRY
[/answer]
[answer]
I feel angry but it has nothing to do with the negotiation
[/answer]
[/agroup]

[agroup]
[answer]
ANGRY
[/answer]
[answer]
I feel angry but it has nothing to do with the negotiation
[/answer]
[/agroup]


[agroup]
[answer]
HAPPY
[/answer]
[answer]
I feel happy but it has nothing to do with the negotiation
[/answer]
[/agroup]

[agroup]
[answer]
HAPPY
[/answer]
[answer]
I feel happy but it has nothing to do with the negotiation
[/answer]
[/agroup]

[agroup]
[answer]
HAPPY
[/answer]
[answer]
I feel happy but it has nothing to do with the negotiation
[/answer]
[/agroup]

[agroup]
[answer]
HAPPY
[/answer]
[answer]
I feel happy but it has nothing to do with the negotiation
[/answer]
[/agroup]


[agroup]
[answer]
GUILTY
[/answer]
[answer]
I feel guilty but it has nothing to do with the negotiation
[/answer]
[/agroup]

[agroup]
[answer]
GUILTY
[/answer]
[answer]
I feel guilty but it has nothing to do with the negotiation
[/answer]
[/agroup]

[agroup]
[answer]
GUILTY
[/answer]
[answer]
I feel guilty but it has nothing to do with the negotiation
[/answer]
[/agroup]

[agroup]
[answer]
GUILTY
[/answer]
[answer]
I feel guilty but it has nothing to do with the negotiation
[/answer]
[/agroup]

[instructions]
<div style='text-align: center;'><font size='5'>
Please enter what you intend to offer in the next round:
[/instructions]

[labels]
<div style='text-align: center;'><font size='5'>Price
<div style='text-align: center;'><font size='5'>Warranty
<div style='text-align: center;'><font size='5'>Service
[/labels]

[presets]
8
6
7
[/presets]

timer=60

[message]
<div style='text-align: center;'><font size='5'>Please wait. The negotiation will resume shortly.
[/message]

#DELAY

label=delay5

timer=8

[message]
<div style='text-align: center;'><font size='5'>
Please wait while the Buyer submits his/her third offer
[/message]


#NEGOTIATION

label=neg3

round=3

title1=<div style='text-align: center;'><font size='6'>Buyer's Offer

title2=<div style='text-align: center;'><font size='6'>Seller's Offer

[labels]
<div style='text-align: center;'><font size='5'>Price
<div style='text-align: center;'><font size='5'>Warranty
<div style='text-align: center;'><font size='5'>Service
[/labels]

[presets]
8
6
7
[/presets]

minimum=1

maximum=9

comparison=>=

[satisfiers]
8
6
7
[/satisfiers]

jumpto=fin

image=Payoffs.jpg

button=Continue


#DELAY

label=delay6

timer=8

[message]
<div style='text-align: center;'><font size='5'>
Please wait while the Buyer submits his/her fourth offer
[/message]


#NEGOTIATION

label=neg4

round=4

title1=<div style='text-align: center;'><font size='6'>Buyer's Offer

title2=<div style='text-align: center;'><font size='6'>Seller's Offer

[labels]
<div style='text-align: center;'><font size='5'>Price
<div style='text-align: center;'><font size='5'>Warranty
<div style='text-align: center;'><font size='5'>Service
[/labels]

[presets]
7
6
7
[/presets]

minimum=1

maximum=9

comparison=>=

[satisfiers]
7
6
7
[/satisfiers]

jumpto=fin

image=Payoffs.jpg

button=Continue


#DELAY

label=delay7

timer=8

[message]
<div style='text-align: center;'><font size='5'>
Please wait while the Buyer submits his/her fifth offer
[/message]


#NEGOTIATION

label=neg5

round=5

title1=<div style='text-align: center;'><font size='6'>Buyer's Offer

title2=<div style='text-align: center;'><font size='6'>Seller's Offer

[labels]
<div style='text-align: center;'><font size='5'>Price
<div style='text-align: center;'><font size='5'>Warranty
<div style='text-align: center;'><font size='5'>Service
[/labels]

[presets]
7
6
6
[/presets]

minimum=1

maximum=9

comparison=>=

[satisfiers]
7
6
6
[/satisfiers]

jumpto=fin

image=Payoffs.jpg

button=Continue


#DELAY

label=delay8

timer=8

[message]
<div style='text-align: center;'><font size='5'>
Please wait while the Buyer submits his/her sixth offer
[/message]


#NEGOTIATION

label=neg6

round=6

title1=<div style='text-align: center;'><font size='6'>Buyer's Offer

title2=<div style='text-align: center;'><font size='6'>Seller's Offer

[labels]
<div style='text-align: center;'><font size='5'>Price
<div style='text-align: center;'><font size='5'>Warranty
<div style='text-align: center;'><font size='5'>Service
[/labels]

[presets]
6
6
6
[/presets]

minimum=1

maximum=9

comparison=>=

[satisfiers]
6
6
6
[/satisfiers]

jumpto=fin

image=Payoffs.jpg

button=Continue


#INFORMATION
label=fin

[message]
<br>
<br>
<br>
<div style='text-align: center;'><font size='6'>
The negotiation has ended. Please click on the button<br>
below to be taken to a short survey.<br>
<br>
Please do <u>NOT</u> close this window, just minimize it and complete<br>
the survey in the new browser window that opens.
[/message]

link=https://wlubusinessca.co1.qualtrics.com/SE/?SID=SV_3K1HJ4e62SZwaTH
